@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
	--primary-font-style: 'Funnel Sans';
	
	--button-color: #4C00FF;

	--header-font-size: 20px;
	--body-font-size: 16px;

}

body{
	font-family: var(--primary-font-style);
	margin: 0;
	padding: 0;
	height: 100vh;
}

header{
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
	color: white;
}

.buttons{
	display: flex;
	gap: 20px;
	align-items: center;
}

/* timer style */
#timerbox {
	text-align: center;
	color: white;
	margin-top: 10px;
	z-index: 10;
	position: relative;
}

#countdown {
	font-size: 3.5rem;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 18px;
	padding: 30px;
	border-radius: 15px;
}

#timer-controls button {
	margin: 10px;
	padding: 10px 15px;
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

#start-timer {
	background-color: var(--button-color);
	color: white;
}

#reset-timer{
	background-color: #999;
	color: white;
	padding: 10px 15px;
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

/* background image style */
.background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	overflow: hidden;
}

.background-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#addtask{
	font-size: 2.2rem;
	background: var(--button-color);
	color: white;
	border: none;
	padding: 3px 15.4px;
	border-radius: 50%;
	cursor: pointer;
}

#setting img{
	width: 50px;
	height: 50px;
	background-color: white;
	border: none;
	border-radius: 50%;
	padding: 10px;
	margin-top: 7.5px;
}

section{
	padding: 20px;
}

#tasklist{
	list-style: none;
	padding: 0;
}

#inputtask{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	display:none;
}

#taskform{
	background: white;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	display: grid;
	gap: 1.5em;
}

#taskform input, #taskform select {
	color: var(--button-color);
	border: solid 1px #999;
	border-radius: 5px;
	width: 100%;
	padding: 8px;
	margin-top: 4px;
}

#taskform select{
	appearance: none; /* removes default arrow */
	background-color: white;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'6'%20viewBox%3D'0%200%2010%206'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M1%201L5%205L9%201'%20stroke%3D'%234C00FF'%20stroke-width%3D'2'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 12px;
	padding-right: 30px;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 1rem;
	color: var(--button-color);
	cursor: pointer;
}

.submit-buttons{
	display: flex;
	gap: 10px;
}

#cancel{
	background-color: #cacaca;
	color: black;
	padding: 12px 15px;
	border-radius: 5px;
}

#submit{
	background-color: var(--button-color);
	color: white;
	padding: 12px 15px;
	border-radius: 5px;
}

.hidden{
	display:none;
}